---
import "@fontsource-variable/montserrat";
import Layout from "../layouts/Layout.astro";
import Boton from "../components/Boton.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import LatestYoutube from "../components/LatestYoutube.astro";
import Profile from "../components/Profile.astro";
---

<Layout>
  <ThemeIcon />
  <main>
    <Profile />
    <Boton />
    <LatestYoutube />
    <div style="display: flex;font-size: 15px;color: #6A00FF">
      <a href="https://beian.miit.gov.cn/"><b>黔ICP备2024027264号-1</b></a>
      <a href="https://beian.mps.gov.cn/#/query/webSearch"><b>贵公网安备52011502009212号-1</b></a>   
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 7rem;
  }
  a{
    margin-left: 10px;
    margin-bottom: 5px;
  }
</style>
